.sidebar {
    background-color: #171717;
    color:#b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;


}

button span {
    font-size: 20px;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: solid  rgb(255, 255, 255, 0.5);
    cursor: pointer;
}

.history{
    margin: 10px;
    padding:10px;
    height:100%;
   
}

.history li{
    list-style-type: none ;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position:relative;
  
}
button:hover{
    background-color: rgba(180,180,180,0.5);
}

.history li:hover {
    background-color:rgba(180,180,180,0.05);
    border-radius: 10px;
}

.sign{
    padding:10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px  rgb(255, 255, 255, 0.5);
}

.fa-trash {
    opacity: 0;
    position : absolute;
    right: 0;
}

.history li:hover .fa-trash{
    opacity: 1;
    color: #fff ;
}

.fa-trash:hover{
    color: #f87171 !important ;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}


/* Light mode overrides */
.sidebar.light {
    background-color: #f5f5f5;
    color: #0e0d0d;
}

.sidebar.light button {
    border: solid 1px rgba(0,0,0,0.2);
    color: #000;
}

.sidebar.light button:hover {
    background-color: rgba(0,0,0,0.05);
}

.sidebar.light .history li {
     background-color: rgba(22, 20, 20, 0.05);
    color: #000;  /* <-- thread titles black in light mode */
} 
.sidebar.light .history li:hover {
    background-color: rgba(0,0,0,0.05);
}


.sidebar.light .fa-trash:hover {
    color: #f87171 !important;
}

.sidebar.light .highlighted {
    background-color: rgba(0,0,0,0.05);
}

.sidebar.light .fa-trash {
    color: #000 !important;
}

.sidebar.light button span i {
     color: #000 !important;
}